/******************************************************************

Stylesheet: 1200px以上のモニタで適用

******************************************************************/
.c-txt-md {
  font-size: 28px;
}

//header
.header {
  & .logo__img {
    margin-top: 38px;
  }
}

//top
.top {
  .swiper-container {
    & .view-sp {
      display: none;
    }
  }
}

//staff
.staff {
  &__p {
    font-size: 1.2rem;
  }
}

//access
.access {
  &__desc {
    font-size: 1.2rem;
  }
}

//.p-news
.p-news {
  padding: 2vw 0 5vw 0;
}

//* * * * * * staff-page * * * * * * *
.c-staff {
  padding: 5vw 0;

  &__title {
    & p {
      margin-top: 5vw;
      font-size: 1.2rem;
    }
  }

  &__list {
    margin-top: 5vw;
  }

  &__item {
    & img {
      height: 250px;
    }
  }

  &__name {
    font-size: 1rem;
  }

  &__desc {
    font-size: 1rem;
  }

  .sns-link {
    & span {
      &::before {
        height: 1.1rem;
        width: 1.1rem;
        top: 5px;
        right: 10px;
      }
    }
  }
}

//* * * * * * recruit-page * * * * * * *
.c-recruite {
  padding: 5vw 0;

  &__title {
    & p {
      margin-top: 5vw;
      font-size: 1.2rem;
    }
  }

  &__item {
    font-size: 1.2rem;
  }
}

//* * * * * * news-page * * * * * * *
.c-news {
  padding-top: 15vw;
  padding-bottom: 0;

  &__title {
    margin-bottom: 5vw !important;
  }

  &__list {
    font-size: 1.5rem;

    & a {
      padding: 2vw 0 2vw 5vw;
    }
  }
}

//* * * * * * news-sl-page * * * * * * *
.c-news-sl {
  & .c-container {
    padding: 0 12vw;
  }

  &__list {
    padding-top: 6vw;
  }
}
